html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f0f0f0;
    font-family: 'Verdana', sans-serif; /*tipo di font + sans-serif sono font generici supportati in ogni caso*/

    margin: 0;
    margin-bottom: 200px;
}

.container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.row {
    display: flex;
    align-items: center;
}

    .row > input, .row > select {
        height: 25px;
        margin-left: 5px;
    }


h1 {
    color: #3498db;
    text-align: center;
}

p {
    color: #333;
    text-align: center;
}

h3.title {
    padding-left: 10%;
    color: #7192fd;
}

h3 {
    padding: 10px;
}

form p {
    text-align: left;
}

input[type="submit"], .button {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    /*padding mi da l'imbottitura:

            imbottitura: 10px 20px;
            le imbottiture superiore e inferiore sono 10px
            le imbottiture destra e sinistra sono 20px*/
    font-size: 16px;
    border: none;
    border-radius: 4px; /*La proprietà CSS arrotonda gli angoli del bordo esterno di un elemento*/
    text-decoration: none;
}

footer {
    background-color: #c7f2f7;
    color: #fff;
    padding: 10px;
    text-align: center;
    /*width: auto; */ /*Per posizione non fissata*/
    width: 100%; /*Per posizione  fissata*/
    /*Per posizione fissata*/
    position: fixed;
    height: 160px;
    bottom: 0;
}

table {
    position: relative;
    margin: 2%;
    padding: 2%;
    border-collapse: collapse;
    width: auto 100%;
}

th {
    text-align: center !important;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
